---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I stand out for my creativity and passion for learning and experimenting with new technologies and work tools, keeping a focus on simplicity and efficiency.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniería de Sistemas e Informática / Bachelor of Computer Science"
      subtitle="2024 to present at Universidad Pontificia Bolivariana, Medellín, Colombia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Freelance Software Developer"
      subtitle="From April, 2024 to present"
    >
    I have worked in different projects developing mobile and web applications for small clients. In these I have been in charge of the design and implementation of interfaces using web development skills and technologies such as Expo and Astro. I have also been in charge of relational database development, user interaction, testing and distribution.
    </TimeLineElement>
<!--     <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://platzi.com/p/damsonite/curso/5355-fastapi-modularizacion-datos/diploma/detalle/" target="_blank"> Curso de FastAPI: Bases de Datos, Modularización y Deploy a Producción</a>
    </li>
    <li>
      <a href="https://platzi.com/p/damsonite/curso/4260-python-funciones/diploma/detalle/" target="_blank"> Curso de Python: Comprehensions, Funciones y Manejo de Errores</a>
    </li>
    <li>
      <a href="https://platzi.com/p/damsonite/curso/4656-backend/diploma/detalle/" target="_blank"> Curso de Introducción al desarrollo Backend</a>
    </li>
    <li>
      <a href="https://platzi.com/p/damsonite/curso/1758-html-practico/diploma/detalle/" target="_blank"> Curso Práctico de HTML y CSS</a>
    </li>
    <li>
      <a href="https://platzi.com/p/damsonite/curso/2327-javascript-practico-2021/diploma/detalle/" target="_blank"> Curso Práctico de Javascript</a>
    </li>
    <li>
      <a href="https://platzi.com/p/damsonite/curso/2477-frontend-developer-practico/diploma/detalle/" target="_blank"> Curso Práctico de Frontend Developer</a>
    </li>
    <li>
      <a href="https://platzi.com/p/damsonite/curso/2292-terminal/diploma/detalle/" target="_blank"> Curso Introducción a la Terminal y Línea de Comandos</a>
    </li>
  </ul>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (B2)</li>
    <li>Linux</li>
    <li>Bash</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Python</li>
    <li>Kotlin</li>
    <li>React</li>
    <li>React Native</li>
    <li>FastAPI</li>
    <li>Expo</li>
    <li>Astro</li>
    <li>SQL</li>
  </ul>
</BaseLayout>
